footer {
  text-align: center;
  margin: 0 auto;
}

.footer__inner {
  flex-direction: column;
  width: 100vw;
}

@media (max-width: 500px) {
  .footer__inner {
    width: 60vw;
  }
}

.footer .copyright span {
  white-space: wrap;
}

.analytics {
  margin: 10px 10px 0;
}

a[href="mailto:khalidrafi.twzde@slmail.me"] {
  text-decoration: none;
}
