@font-face {
  font-family: 'JetBrains Mono';
  src: local("JetBrains Mono Light"), url('../fonts/JetBrainsMono-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: local("JetBrains Mono Regular"), url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: local("JetBrains Mono Medium"), url('/fonts/JetBrainsMono-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: local("JetBrains Mono SemiBold"), url('/fonts/JetBrainsMono-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: local("JetBrains Mono Bold"), url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
	font-family: Kalpurush;
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: local("Kalpurush"), url(/fonts/kalpurush.woff2) format("woff2");
  font-display: swap;
}
