.menu--desktop {
  align-items: center;
  justify-content: center;
  column-gap: 5%;
}

.menu--desktop li {
  margin-bottom: 0;
}

.header__logo {
  width: min-content;
}

#logoImage {
  border: none;
  margin: 0;
  padding: 0;
  /* width: 100px; */
}

#search-dark {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  column-gap: 6%;
}

#docsearch {
  font-family: "JetBrains Mono", monospace !important;
}

.docsearch-btn {
  border: 2px solid var(--accent);
}

.docsearch-btn-key {
  font-family: "JetBrains Mono", monospace !important;
}

.docsearch-btn-keys {
    font: initial; /* This sets font-size, font-style, font-weight, font-variant, font-stretch, and line-height to their initial values */
}

.dark-mode-toggle {  
  border: none;
  /* text-align: center; */
  font-size: 25px;
  /* margin-left: 5px; */
  /* margin-right: 5px; */
  padding: 10px 7px 8px 7px;
  /* line-height: 33px; */
  border-radius: 50%;
}

.dark-mode-toggle:hover {
  background: var(--toggle);
}

/* #comments { */
/*   margin-top: 10%; */
/* } */

/* .translations { */
/*   margin: 0 auto; */
/* } */

.menu__trigger {
  display: flex;
  align-items: center;
  column-gap: 8%;
}

.lang-icon {
  font-size: 30px;
}

.dropdown-icon {
  font-size: 30px;
}

.current-lang {
  align-items: baseline;
  column-gap: 5%;
}

.menu__dropdown {
  width: max-content;
}

.social-icon {
  display: flex;
  font-size: 30px;
  column-gap: 35px;
}

.title-under {
  display: flex;
  justify-content: space-between;
}

/* .post-translation a { */
  /* color: var(--background); */
  /* background: var(--accent); */
  /* padding: 5px 10px; */
/* } */

.footer {
  text-align: center;
}

.footer__inner {
  flex-direction: column;
  width: 100%;
}

.footer .copyright span {
  white-space: wrap;
}

/*.analytics {*/
/*  margin-top: 10px;*/
/*}*/

a {
  text-decoration: none;
}

.pagination__buttons a {
  white-space: normal;
}
