<header class="header">
  <div class="header__inner">
    <div class="header__logo">
      {{ partialCached "logo.html" . }}
    </div>
    <button class="dark-mode-toggle moon">🌗</button>
    <div id="docsearch"></div>
    {{ if len $.Site.Menus }}
      {{ partialCached "mobile-menu.html" . }}
    {{ end }}
    {{ if and $.Site.Params.showLanguageSelector (len $.Site.Home.AllTranslations) }}
      {{ partialCached "language-menu.html" . }}
    {{ end }}
  </div>
  {{ if len $.Site.Menus }}
    {{ partialCached "menu.html" . }}
  {{ end }}
</header>
