{{- $date := .Lastmod -}}
{{- with .Params.dateFormat -}}
  {{- $date | time.Format . -}}
{{- else -}}
  {{- with .Site.Params.dateFormat -}}
    [{{- or $.Site.Params.updatedDatePrefix "Updated: " }} {{ $date | time.Format . -}}]
  {{- else -}}
    {{ T "Updated" }}{{ ": " }}
    {{- $date = $date.Format "02-01-2006" -}}
    {{ $date = split $date "" }}
    {{ $tdate := slice }}
    {{ range $date }}
    {{ $t := T . }}
    {{ $tdate = $tdate | append $t }}
    {{ end }}
    {{ delimit $tdate "" }}
  {{- end -}}
{{- end -}}
