#docsearch {
  margin: 0 10px 0;
}

.docsearch-btn-keys {
    font: initial; /* This sets font-size, font-style, font-weight, font-variant, font-stretch, and line-height to their initial values */
    font-family: initial;
    font-size-adjust: initial;
    font-kerning: initial;
    font-feature-settings: initial;
    font-language-override: initial;
    font-variation-settings: initial;
    font-optical-sizing: initial;
    font-variant-caps: initial;
    font-variant-numeric: initial;
    font-variant-east-asian: initial;
    font-variant-ligatures: initial;
    font-variant-position: initial;
}

.footer {
  text-align: center;
}

.footer__inner {
  flex-direction: column;
  width: 100%;
}

.footer .copyright span {
  white-space: wrap;
}

/*.analytics {*/
/*  margin-top: 10px;*/
/*}*/

a {
  text-decoration: none;
}

.pagination__buttons a {
  white-space: normal;
}
